.Weather {
  border: 1px solid white;
  border-radius: 10px;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  max-width: 600px;
  background: linear-gradient(
    to top,
    #71299b,
    #006ddb,
    #00a1f5,
    #00cdf0,
    #0bf4db
  );
}
.Weather .btn {
  background-color: #71299b;
  border: 1px solid #71299b;
  width: 100%;
}
.Weather .col-9 input {
  border: 1px solid #8b5ea5;
}

.form-control::placeholder {
  color: #71299b;
  opacity: 0.8;
}
.WeatherInfo .info-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: block;
  text-align: right;
  padding-right: 20px;
}

.Weather h1 {
  font-size: 26px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin-bottom: 10px;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  vertical-align: top;
  height: 50px;
  margin-right: 10px;
  margin-top: 5px;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -34px;
  color: white;
}

.WeatherInfo canvas {
  height: 62px;
  margin-bottom: 25px;
}

@media (max-width: 481px) {
  .Weather h1 {
    font-size: 22px;
  }

  .Weather .col-9 {
    height: 20px;
  }

  .Weather .btn {
    font-size: 14px;
    height: 38px;
    padding-right: 50px;
  }

  .Weather canvas {
    height: 40px;
    margin-top: 10px;
  }

  .WeatherTemperature .temperature {
    font-size: 45px;
  }
  .WeatherTemperature .unit {
    font-size: 12px;
    position: relative;
    top: -28px;
  }
  .WeatherInfo .info-link {
    padding-right: 5px;
    font-size: 14px;
  }
  .Weather li {
    font-size: 14px;
  }
  .Weather .Forecast {
    font-size: 14px;
    padding: 15px;
  }
}
